a,
a:visited {
    border: 1px solid black;
    color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}
a:hover {
    background-color: rgb(13, 136, 236);
}

#buttons {
    display: none;
}

#toolbar {
    display: flex;
}
img {
    width: 20%;
    float: left;
    margin: 0px 10px 10px 0px;
}
